@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* Estilo geral do corpo */
body {
    font-family: "Dancing Script", cursive;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    font-size: 1.2em;
}

header {
    background-color: #00819b;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Títulos */
h1 {
    font-size: 3em; /* Mobile */
    font-family: "Kolker Brush", cursive;
    margin: 0;
    font-weight: 400;
}

h2 {
    font-size: 2.2em;
    color: #264653;
    margin: 20px 20px 10px;
}

h3 {
    font-size: 1.8em;
    color: #e76f51;
    margin: 15px 20px 10px;
}

/* Parágrafos */
p {
    font-size: 1.2em;
    color: #333;
    margin: 10px 20px;
}

/* Seções */
section {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Listas */
ul {
    margin: 10px 40px;
}

li {
    font-size: 1.1em;
    margin-bottom: 10px;
}

/* Negrito e itálico */
strong {
    color: #e63946;
    font-weight: bold;
}

em {
    font-style: italic;
    color: #2a9d8f;
}

/* Links */
nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    margin: 20px 0;
    list-style: none;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    background-color: #264653;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #e63946;
}

/* Estilos responsivos */
@media (min-width: 768px) {
    body {
        font-size: 1.3em;
    }

    h1 {
        font-size: 4em; /* Para tablets e desktops */
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2em;
    }

    nav ul {
        justify-content: center;
    }

    nav ul li {
        margin: 10px 20px;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 5em; /* Para telas grandes */
    }

    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 2.5em;
    }
}